<%- include ('../../partials/header.ejs'); -%>
<%- include ('../../partials/homenavbar.ejs'); -%>
<section class="container">
    <div class="row my-4">
        <div class="col-md-12">
            <h1>Wellcome to the GuiaPress Blog</h1>
            <hr>
        </div>
    </div>
</section>   
<section class="container">
    <div class="row">
        <div class="col-md-9">
            <div>                
                <% result.articles.rows.forEach((article) => { %>                      
                    <div class="card my-4">
                      <div class="card-body">
                        <h2 class="card-title"><%= article.title %></h2>
                        <p class="card-text"></span><span class="font-weight-bold">Date: </span> <%=  article.createdAt  %> </p>                        
                        <a href="/<%= article.slug %>" class="btn btn-primary my-4">More</a>
                      </div>
                    </div>
                <% }) %>                        
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <% if(result.page > 2) { %>%>
                    <a href="/articles/page/<%= result.page - 1 %>" class="btn btn-primary my-4"><i class="fas fa-chevron-left"></i> Prev </a>
                <% } else if(result.page == 2) { %>
                    <a href="/" class="btn btn-primary my-4"><i class="fas fa-chevron-left"></i> Prev </a>
                <% } %>   
                    
                
                <% if(result.next){%>
                    <a href="/articles/page/<%= result.page + 1 %>" class="btn btn-primary my-4">Next <i class="fas fa-chevron-right"></i> </a>
                <% } %>    
                <hr>
            </div>
        </div>    
</section>   




<%- include ('../../partials/footer.ejs'); -%>
