

<%- include ('../../partials/header.ejs'); -%>
<%- include ('../../partials/navbar.ejs'); -%>

<section class="container">
    <div class="row">
        <div class="col-md-12 my-4">
            <h1>Edidt Categories</h1>
        <hr>
    </div>
    </div>
    <div class="row my-4">         
        <div class="col-md-6"> 
            <form method="POST" action="/categories/update" class="form-group-lg">
                <input type="hidden" name="id" value="<%= category.id %>">
                <input class="form-control form-control-lg" name="title"  value="<%= category.title %>" type="text" required>
                <button type="submit" class="btn btn-primary btn-block my-4">Update</button>
            </form>                        
        </div>
        <div class="col-md-6">
            <p>Here you can edit the categories to your articles.<br></p>
        </div>
    </div>    


</section>    

<%- include ('../../partials/footer.ejs'); -%>
