<%- include ('partials/header.ejs'); -%>
<%- include ('partials/homenavbar.ejs'); -%>
<section class="container">
    <div class="row my-4">
        <div class="col-md-12">
            <h1>Wellcome to the GuiaPress Blog</h1>

            <hr>
        </div>
    </div>
</section>   
<section class="container">
    <div class="row">
        <div class="col-md-9">
            <div>
                
                <% articles.forEach((article) => { %>                      
                    <div class="card my-4">
                      <div class="card-body">
                        <h2 class="card-title"><%= article.title %></h2>
                        <p class="card-text"><span class="font-weight-bold">Category: </span><%=  article.category.title %><span class="font-weight-bold"> | Date: </span> <%=  article.createdAt  %> </p>                        
                        <a href="/<%= article.slug %>" class="btn btn-primary my-4">Veja mais</a>
                      </div>
                    </div>
                <% }) %>
                        
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div>
                
            </div>
        </div>
    </div>
</section>   




<%- include ('partials/footer.ejs'); -%>
